/* Mixin */
.gondole-dashboard {
  margin: 20px auto;
  padding: 20px 40px;
  max-width: 1200px;
}
.gondole-dashboard .main {
  display: flex;
}
.gondole-dashboard .left-comment {
  width: 75%;
}
.gondole-dashboard .aside-gondola {
  width: 50%;
  border-width: 2px;
  border-style: solid;
  -webkit-border-radius: 20px;
  -moz-border-radius: 20px;
  border-radius: 20px;
}
.gondole-dashboard .row-display {
  display: inline;
  list-style: none;
}
.gondole-dashboard .row-display img {
  width: auto;
  height: 80px;
  padding: 2px;
}
