.gondole {
  margin: 0 auto 20px auto;
  width: 100%;
  max-width: 1200px;
  display: block;
  position: relative;
  padding: 0 10px;
  box-sizing: border-box;
}
.gondole:after {
  content: '';
  width: 100%;
  display: block;
  clear: both;
}
.gondole .gondola-row {
  padding: 0;
}
.gondole li,
.gondole ul {
  list-style: none;
  margin: 0;
  padding: 0;
}
.gondole .gondola-mixin {
  display: inline-block;
  float: left;
  overflow: hidden;
  position: relative;
}
.gondole .gondola-mixin:after {
  content: '';
  display: block;
}
.gondole .g-rectangle {
  width: 50%;
  display: inline-block;
  float: left;
  overflow: hidden;
  position: relative;
}
.gondole .g-rectangle:after {
  content: '';
  display: block;
}
.gondole .g-rectangle:after {
  padding-bottom: 50%;
}
.gondole .g-square {
  width: 25%;
  display: inline-block;
  float: left;
  overflow: hidden;
  position: relative;
}
.gondole .g-square:after {
  padding-bottom: 100%;
}
.gondole .g-square:after {
  content: '';
  display: block;
}
@media only screen and (max-width: 640px) {
  .gondole .g-square,
  .gondole .g-rectangle {
    width: 100%;
  }
  .gondole .g-square:after,
  .gondole .g-rectangle:after {
    padding-bottom: 50%;
  }
}
.gondole .gondola-content-wrapper {
  width: 100%;
  height: 100%;
  display: block;
  position: absolute;
  top: 0;
  left: 0;
  padding: 10px;
}
.gondole img {
  width: 100%;
  filter: brightness(90%);
}
.gondole img:hover {
  filter: brightness(50%);
}
.gondole .gondola-content {
  width: 100%;
}
.gondole .gondola-text {
  position: absolute;
  width: 100%;
  display: block;
  top: 50%;
  left: 0;
  transform: translate(0, -50%);
}
.gondole .g-label {
  display: block;
  color: white;
  padding: 0 20px;
  font-size: 20px;
  text-transform: uppercase;
  text-align: center;
  word-wrap: break-word;
  line-height: 1.1;
  transition: transform 0.4s, -webkit-transform 0.4s;
}
